# ===== SECRETOS =====
.env
.env.*

# ===== PYTHON =====
__pycache__/
*.pyc
venv/
.venv/

# ===== JUPYTER =====
.ipynb_checkpoints/

# ===== DATOS GRANDES =====
*.npy

# ===== OS =====
.DS_Store
Thumbs.db
